In [1]:
import pandas as pd

# question 1
Car_Price = {
    'Company': ['Toyota', 'Honda', 'BMV', 'Audi'],
    'Price': [23845, 17995, 135925 , 71400]
}
car_Horsepower = {
    'Company': ['Toyota', 'Honda', 'BMV', 'Audi'],
    'horsepower': [141, 80, 182 , 160]
}

In [2]:
Car_Price_pd = pd.DataFrame(Car_Price)
car_Horsepower = pd.DataFrame(car_Horsepower)

In [3]:
# inner
print("Inner - Natural Join")
pd.merge(Car_Price_pd, car_Horsepower, on='Company', how='inner')

Inner - Natural Join

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160

In [4]:
# outer
print("Outer - Full Outer Join")
pd.merge(Car_Price_pd, car_Horsepower, on='Company', how='outer')

Outer - Full Outer Join

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160

In [5]:
# left
print("Left - Left Outer Join")
pd.merge(Car_Price_pd, car_Horsepower, on='Company', how='left')

Left - Left Outer Join

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160

In [6]:
# right
print("Right - Right Outer Join")
pd.merge(Car_Price_pd, car_Horsepower, on='Company', how='right')

Right - Right Outer Join

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160

In [7]:
# question 2
GermanCars = {
    'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'],
    'Price': [23845, 171995, 135925 , 71400]
}
japaneseCars = {
    'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '],
    'Price': [29995, 23600, 61500 , 58900]
}

In [8]:
GermanCars_df = pd.DataFrame(GermanCars)
japaneseCars_df = pd.DataFrame(japaneseCars)

In [9]:
GermanCars_df

    Company   Price
0      Ford   23845
1  Mercedes  171995
2       BMV  135925
3      Audi   71400

In [10]:
japaneseCars_df

       Company  Price
0       Toyota  29995
1        Honda  23600
2       Nissan  61500
3  Mitsubishi   58900

In [11]:
GermanCars_japanese_df = pd.concat([GermanCars_df, japaneseCars_df], keys=['GermanCars', 'JapaneseCars'])
GermanCars_japanese_df

                    Company   Price
GermanCars   0         Ford   23845
             1     Mercedes  171995
             2          BMV  135925
             3         Audi   71400
JapaneseCars 0       Toyota   29995
             1        Honda   23600
             2       Nissan   61500
             3  Mitsubishi    58900

In [12]:
# question 3
Automobile_data_pd = pd.read_csv('Automobile_data.csv')
Automobile_data_pd

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
...,...,...,...,...,...,...,...,...,...,...
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [13]:
Automobile_data_pd.isnull().any()

index               False
company             False
body-style          False
wheel-base          False
length              False
engine-type         False
num-of-cylinders    False
horsepower          False
average-mileage     False
price                True
dtype: bool

In [14]:
Automobile_data_pd.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [15]:
# question 4
Automobile_data_pd_na = pd.read_csv('Automobile_data.csv', na_values=[' ', '?', 'null'])
pd.isnull(Automobile_data_pd_na)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False,False,True
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
31,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,True
48,False,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,False,False
52,False,False,False,False,False,False,False,False,False,False
53,False,False,False,False,False,False,False,False,False,False
54,False,False,False,False,False,False,False,False,False,False
55,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False
57,False,False,False,False,False,False,False,False,False,False
58,False,False,False,False,False,False,False,False,False,False
59,False,False,False,False,False,False,False,False,False,False
60,False,False,False,False,False,False,False,False,False,False

In [16]:
Automobile_data_pd_na

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
...,...,...,...,...,...,...,...,...,...,...
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [17]:
# question 5
Automobile_data_pd['CC'] = Automobile_data_pd['horsepower'] * 5
Automobile_data_pd

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,CC
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,555
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,555
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,770
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,510
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,575
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0,550
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0,550
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0,505
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0,505
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0,605
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0,910
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0,910
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0,910
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0,240
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0,350
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0,350
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0,340
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0,340
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0,380
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0,505
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0,500
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0,390
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN,350
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN,350
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0,880
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0,880
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0,1310
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0,340
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0,340
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0,340
...,...,...,...,...,...,...,...,...,...,...,...
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0,360
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0,615
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0,615
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0,920
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0,920
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0,340
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0,340
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0,440
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0,440
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0,275
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0,345
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0,345
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0,345
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0,760
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0,1035
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0,1035
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN,1440
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0,310
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0,310
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0,310
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0,310
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0,310
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0,310
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0,780
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0,260
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,425
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,260
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,500
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,570
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,570

In [18]:
# question 6
Automobile_data_pd[Automobile_data_pd["body-style"] == 'sedan'].head(18)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,CC
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,510
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,575
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0,550
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0,505
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0,505
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0,605
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0,910
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0,910
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0,910
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0,350
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0,505
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0,500
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0,390
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN,350
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN,350
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0,880
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0,880
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0,1310

In [19]:
# question 7
Automobile_data_pd_copy = Automobile_data_pd.copy()
Automobile_data_pd

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,CC
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,555
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,555
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,770
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,510
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,575
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0,550
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0,550
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0,505
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0,505
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0,605
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0,910
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0,910
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0,910
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0,240
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0,350
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0,350
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0,340
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0,340
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0,380
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0,505
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0,500
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0,390
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN,350
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN,350
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0,880
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0,880
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0,1310
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0,340
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0,340
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0,340
...,...,...,...,...,...,...,...,...,...,...,...
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0,360
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0,615
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0,615
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0,920
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0,920
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0,340
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0,340
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0,440
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0,440
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0,275
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0,345
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0,345
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0,345
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0,760
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0,1035
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0,1035
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN,1440
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0,310
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0,310
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0,310
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0,310
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0,310
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0,310
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0,780
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0,260
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,425
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,260
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,500
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,570
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,570

In [20]:
# question 8
Automobile_data_pd.loc[:, ['company', 'body-style', 'CC', 'price']]

          company   body-style    CC    price
0     alfa-romero  convertible   555  13495.0
1     alfa-romero  convertible   555  16500.0
2     alfa-romero    hatchback   770  16500.0
3            audi        sedan   510  13950.0
4            audi        sedan   575  17450.0
5            audi        sedan   550  15250.0
6            audi        wagon   550  18920.0
7             bmw        sedan   505  16430.0
8             bmw        sedan   505  16925.0
9             bmw        sedan   605  20970.0
10            bmw        sedan   910  30760.0
11            bmw        sedan   910  41315.0
12            bmw        sedan   910  36880.0
13      chevrolet    hatchback   240   5151.0
14      chevrolet    hatchback   350   6295.0
15      chevrolet        sedan   350   6575.0
16          dodge    hatchback   340   6377.0
17          dodge    hatchback   340   6229.0
18          honda        wagon   380   7295.0
19          honda        sedan   505  12945.0
20          honda        sedan   500  10345.0
21          isuzu        sedan   390   6785.0
22          isuzu        sedan   350      NaN
23          isuzu        sedan   350      NaN
24         jaguar        sedan   880  32250.0
25         jaguar        sedan   880  35550.0
26         jaguar        sedan  1310  36000.0
27          mazda    hatchback   340   5195.0
28          mazda    hatchback   340   6095.0
29          mazda    hatchback   340   6795.0
..            ...          ...   ...      ...
31          mazda        sedan   360  18344.0
32  mercedes-benz        sedan   615  25552.0
33  mercedes-benz        wagon   615  28248.0
34  mercedes-benz        sedan   920  40960.0
35  mercedes-benz      hardtop   920  45400.0
36     mitsubishi    hatchback   340   5389.0
37     mitsubishi    hatchback   340   6189.0
38     mitsubishi        sedan   440   6989.0
39     mitsubishi        sedan   440   8189.0
40         nissan        sedan   275   7099.0
41         nissan        sedan   345   6649.0
42         nissan        sedan   345   6849.0
43         nissan        wagon   345   7349.0
44         nissan        sedan   760  13499.0
45        porsche      hardtop  1035  34028.0
46        porsche  convertible  1035  37028.0
47        porsche    hatchback  1440      NaN
48         toyota    hatchback   310   5348.0
49         toyota    hatchback   310   6338.0
50         toyota    hatchback   310   6488.0
51         toyota        wagon   310   6918.0
52         toyota        wagon   310   7898.0
53         toyota        wagon   310   8778.0
54         toyota        wagon   780  15750.0
55     volkswagen        sedan   260   7775.0
56     volkswagen        sedan   425   7975.0
57     volkswagen        sedan   260   7995.0
58     volkswagen        sedan   500   9995.0
59          volvo        sedan   570  12940.0
60          volvo        wagon   570  13415.0

[61 rows x 4 columns]

In [21]:
# question 9
Automobile_data_pd.loc[[18, 25, 60]]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,CC
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0,380
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0,880
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,570

In [22]:
# question 10
Automobile_data_pd.iloc[:, [1, 2, -1, -2]]

          company   body-style    CC    price
0     alfa-romero  convertible   555  13495.0
1     alfa-romero  convertible   555  16500.0
2     alfa-romero    hatchback   770  16500.0
3            audi        sedan   510  13950.0
4            audi        sedan   575  17450.0
5            audi        sedan   550  15250.0
6            audi        wagon   550  18920.0
7             bmw        sedan   505  16430.0
8             bmw        sedan   505  16925.0
9             bmw        sedan   605  20970.0
10            bmw        sedan   910  30760.0
11            bmw        sedan   910  41315.0
12            bmw        sedan   910  36880.0
13      chevrolet    hatchback   240   5151.0
14      chevrolet    hatchback   350   6295.0
15      chevrolet        sedan   350   6575.0
16          dodge    hatchback   340   6377.0
17          dodge    hatchback   340   6229.0
18          honda        wagon   380   7295.0
19          honda        sedan   505  12945.0
20          honda        sedan   500  10345.0
21          isuzu        sedan   390   6785.0
22          isuzu        sedan   350      NaN
23          isuzu        sedan   350      NaN
24         jaguar        sedan   880  32250.0
25         jaguar        sedan   880  35550.0
26         jaguar        sedan  1310  36000.0
27          mazda    hatchback   340   5195.0
28          mazda    hatchback   340   6095.0
29          mazda    hatchback   340   6795.0
..            ...          ...   ...      ...
31          mazda        sedan   360  18344.0
32  mercedes-benz        sedan   615  25552.0
33  mercedes-benz        wagon   615  28248.0
34  mercedes-benz        sedan   920  40960.0
35  mercedes-benz      hardtop   920  45400.0
36     mitsubishi    hatchback   340   5389.0
37     mitsubishi    hatchback   340   6189.0
38     mitsubishi        sedan   440   6989.0
39     mitsubishi        sedan   440   8189.0
40         nissan        sedan   275   7099.0
41         nissan        sedan   345   6649.0
42         nissan        sedan   345   6849.0
43         nissan        wagon   345   7349.0
44         nissan        sedan   760  13499.0
45        porsche      hardtop  1035  34028.0
46        porsche  convertible  1035  37028.0
47        porsche    hatchback  1440      NaN
48         toyota    hatchback   310   5348.0
49         toyota    hatchback   310   6338.0
50         toyota    hatchback   310   6488.0
51         toyota        wagon   310   6918.0
52         toyota        wagon   310   7898.0
53         toyota        wagon   310   8778.0
54         toyota        wagon   780  15750.0
55     volkswagen        sedan   260   7775.0
56     volkswagen        sedan   425   7975.0
57     volkswagen        sedan   260   7995.0
58     volkswagen        sedan   500   9995.0
59          volvo        sedan   570  12940.0
60          volvo        wagon   570  13415.0

[61 rows x 4 columns]

In [23]:
# question 11
Automobile_data_pd.iloc[[18, 25, 60]]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,CC
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0,380
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0,880
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,570

In [24]:
# question 12
Automobile_data_pd.corr(method ='pearson')

,index,wheel-base,length,horsepower,average-mileage,price,CC
index,1.000000,0.013401,0.004828,-0.093809,0.176037,-0.197470,-0.093809
wheel-base,0.013401,1.000000,0.878381,0.463421,-0.547325,0.663085,0.463421
length,0.004828,0.878381,1.000000,0.668555,-0.788429,0.788465,0.668555
horsepower,-0.093809,0.463421,0.668555,1.000000,-0.808804,0.901707,1.000000
average-mileage,0.176037,-0.547325,-0.788429,-0.808804,1.000000,-0.770217,-0.808804
price,-0.197470,0.663085,0.788465,0.901707,-0.770217,1.000000,0.901707
CC,-0.093809,0.463421,0.668555,1.000000,-0.808804,0.901707,1.000000

In [25]:
# question 13
Automobile_data_pd.corr(method ='kendall')

,index,wheel-base,length,horsepower,average-mileage,price,CC
index,1.000000,0.063739,0.019322,-0.189129,0.126479,-0.081089,-0.189129
wheel-base,0.063739,1.000000,0.711156,0.415486,-0.435607,0.570223,0.415486
length,0.019322,0.711156,1.000000,0.533873,-0.630328,0.662828,0.533873
horsepower,-0.189129,0.415486,0.533873,1.000000,-0.755257,0.705596,1.000000
average-mileage,0.126479,-0.435607,-0.630328,-0.755257,1.000000,-0.716072,-0.755257
price,-0.081089,0.570223,0.662828,0.705596,-0.716072,1.000000,0.705596
CC,-0.189129,0.415486,0.533873,1.000000,-0.755257,0.705596,1.000000

In [26]:
# question 14
Automobile_data_pd['average-mileage'].corr(Automobile_data_pd['price'])

-0.7702172796214722

In [27]:
# question 15
Automobile_data_pd[Automobile_data_pd['company'] == 'alfa-romero']

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,CC
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,555
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,555
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,770

In [28]:
# question 16
Automobile_data_pd['price'].max()

45400.0

In [29]:
# question 17
Automobile_data_pd[Automobile_data_pd['price'] == Automobile_data_pd['price'].max()].loc[:, ['company']]

          company
35  mercedes-benz

In [30]:
# question 18
Automobile_data_pd['company'].value_counts()

toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
volkswagen       4
mitsubishi       4
chevrolet        3
alfa-romero      3
honda            3
porsche          3
jaguar           3
isuzu            3
dodge            2
volvo            2
Name: company, dtype: int64

In [31]:
# question 19
Automobile_data_pd_company = Automobile_data_pd.groupby('company')
Automobile_data_pd_company[['price']].max()

                 price
company
alfa-romero    16500.0
audi           18920.0
bmw            41315.0
chevrolet       6575.0
dodge           6377.0
honda          12945.0
isuzu           6785.0
jaguar         36000.0
mazda          18344.0
mercedes-benz  45400.0
mitsubishi      8189.0
nissan         13499.0
porsche        37028.0
toyota         15750.0
volkswagen      9995.0
volvo          13415.0

In [32]:
# question 20
Automobile_data_pd_company[['average-mileage']].mean()

               average-mileage
company
alfa-romero          20.333333
audi                 20.000000
bmw                  19.000000
chevrolet            41.000000
dodge                31.000000
honda                26.333333
isuzu                33.333333
jaguar               14.333333
mazda                28.000000
mercedes-benz        18.000000
mitsubishi           29.500000
nissan               31.400000
porsche              17.000000
toyota               28.714286
volkswagen           31.750000
volvo                23.000000